<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
    <ComponentGroup Id="PCTimeLimitComponents" Directory="INSTALLFOLDER">
      <!-- Lock down install folder so only admins/system can delete contents -->
      <Component Id="SecureInstallFolder" Guid="A75D80BB-37E8-4F11-90C0-DC2DD0E6A2C1" Directory="INSTALLFOLDER" Bitness="always64">
        <CreateFolder>
          <util:PermissionEx User="Users" GenericRead="yes" GenericExecute="yes" Delete="no" DeleteChild="no" />
          <util:PermissionEx User="Authenticated Users" GenericRead="yes" GenericExecute="yes" Delete="no" DeleteChild="no" />
          <util:PermissionEx User="Administrators" GenericAll="yes" />
          <util:PermissionEx User="SYSTEM" GenericAll="yes" />
        </CreateFolder>
      </Component>

      <Component Id="PCTimeLimitExe" Guid="9F103964-C501-4198-B2B5-2F41A7EFC3C1" Bitness="always64">
        <File Id="PCTimeLimitExeFile" Source="$(var.PublishDir)\PCTimeLimit.exe" KeyPath="yes" />
      </Component>

      <Component Id="PCTimeLimitServiceExe" Guid="30954A7B-042A-47C0-92E8-26B179A3219C" Bitness="always64">
        <File Id="PCTimeLimitServiceFile" Source="$(var.ServicePublishDir)\PCTimeLimitService.exe" KeyPath="yes" />
        <ServiceInstall
          Id="PCTimeLimitServiceInstaller"
          Name="PCTimeLimitService"
          DisplayName="PC Time Limit Service"
          Description="Keeps the PC Time Limit child app running and restores startup settings."
          Start="auto"
          Type="ownProcess"
          ErrorControl="normal"
          Account="LocalSystem" />
        <util:ServiceConfig
          ServiceName="PCTimeLimitService"
          FirstFailureActionType="restart"
          SecondFailureActionType="restart"
          ThirdFailureActionType="restart"
          ResetPeriodInDays="1"
          RestartServiceDelayInSeconds="5" />
        <ServiceControl
          Id="PCTimeLimitServiceControl"
          Name="PCTimeLimitService"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>

      <!-- Enforce auto-start from HKLM so removal/changes require admin rights -->
      <Component Id="StartupRunKey" Guid="A3ED419F-F3DE-420B-9FC5-7B1D3BC466DA" Bitness="always64">
        <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue
            Id="PCTimeLimitRun"
            Name="PCTimeLimit"
            Value="&quot;[INSTALLFOLDER]PCTimeLimit.exe&quot;"
            Type="string"
            KeyPath="yes" />
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
