[Unit]
Description=PC Time Limit Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/PCTimeLimitServer
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=no
ProtectHome=no

[Install]
WantedBy=multi-user.target